{{ define "content" }}
<div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-desktop">
        <div class="box">
            <h1 class="title mb-5">{{ .title }}</h1>

            <div class="field">
                <label class="label">Email (Username)</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" value="{{ .user.Email }}" readonly>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">First Name</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ .user.FirstName }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Last Name</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ .user.LastName }}" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Mobile</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" value="{{ .user.Mobile }}" readonly>
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Role</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ .user.RoleName }}" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Designation</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ .user.Designation }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column">
                        <div class="field">
                            <label class="label">Department</label>
                            <div class="control">
                                <input class="input" type="text" value="{{ .user.Department }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" {{ if .user.IsEnabled }}checked{{ end }} disabled>
                        Account Enabled
                    </label>
                </div>
            </div>

            <div class="columns mt-5">
                <div class="column">
                    <p class="is-size-7 has-text-grey">
                        <strong>Created:</strong> {{ in_timezone .user.CreatedAt .tz }}<br>
                        <strong>Updated:</strong> {{ in_timezone .user.UpdatedAt .tz }}
                    </p>
                </div>
            </div>

            <div class="field is-grouped is-grouped-right mt-5">
                <div class="control">
                    <button type="button" class="button is-link is-light" hx-get="/users" hx-target="body" hx-push-url="true">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to List</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
