{{ define "content" }}
<div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-desktop">
        <div class="box">
            <h1 class="title mb-5">{{ .title }}</h1>

            <div class="field">
                <label class="label">ID</label>
                <div class="control">
                    <input class="input" type="text" value="{{ .company.ID }}" readonly>
                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" value="{{ .company.Name }}" readonly>
                </div>
            </div>

            <div class="field">
                <label class="label">Status</label>
                <div class="control">
                    {{ if .company.Status }}
                    <span class="tag is-success">Active</span>
                    {{ else }}
                    <span class="tag is-danger">Inactive</span>
                    {{ end }}
                </div>
            </div>

            <div class="columns mt-5">
                <div class="column">
                    <p class="is-size-7 has-text-grey">
                        <strong>Created By:</strong> {{ .company.CreatedBy }}<br>
                        <strong>Created:</strong> {{ in_timezone .company.CreatedAt .tz }}<br>
                        {{ if .company.UpdatedBy }}<strong>Updated By:</strong> {{ .company.UpdatedBy }}<br>{{ end }}
                        {{ if .company.UpdatedAt }}<strong>Updated:</strong> {{ in_timezone .company.UpdatedAt .tz }}{{ end }}
                    </p>
                </div>
            </div>

            <div class="field is-grouped is-grouped-right mt-5">
                <div class="control">
                    <button type="button" class="button is-link is-light" hx-get="/fuel-companies" hx-target="body" hx-push-url="true">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to List</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
