{{ define "content" }}
<div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-desktop">
        <div class="box">
            <h1 class="title mb-5">{{ .title }}</h1>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" value="{{ .type.Name }}" readonly>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" {{ if .type.Status }}checked{{ end }} disabled>
                        Active
                    </label>
                </div>
            </div>

            <div class="columns mt-5">
                <div class="column">
                    <p class="is-size-7 has-text-grey">
                        <strong>Created by:</strong> {{ .type.CreatedBy }}<br>
                        <strong>Created:</strong> {{ in_timezone .type.CreatedAt "UTC" }}
                    </p>
                </div>
            </div>

            <div class="field is-grouped is-grouped-right mt-5">
                <div class="control">
                    <button type="button" class="button is-link is-light" hx-get="/vehicle-types" hx-target="body" hx-push-url="true">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to List</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
