{{ define "roles/table_row.html" }}
<tr id="role-row-{{ .ID }}">
    <td>{{ .ID }}</td>
    <td>{{ .Name }}</td>
    <td>
        <div class="buttons are-small">
            <button class="button is-link is-light" hx-get="/roles/{{ .ID }}/edit" hx-target="body" hx-push-url="true">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </button>
            <button class="button is-danger is-light" hx-get="/roles/{{ .ID }}/delete" hx-target="#modal-container">
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </div>
    </td>
</tr>
{{ end }}
