{{ define "partials/users/password_fields.html" }}
<hr>
<div class="columns">
    <div class="column">
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="••••••••" required minlength="8" autofocus>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" name="confirm_password" placeholder="••••••••" required minlength="8">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
    </div>
</div>
{{ end }}
