{{ define "vehicle_makes/table_row.html" }}
<tr id="make-row-{{ .Make.ID }}">
    <td>{{ .Make.ID }}</td>
    <td>{{ .Make.Name }}</td>
    <td>
        {{ if .Make.Status }}
            <span class="tag is-success">Active</span>
        {{ else }}
            <span class="tag is-danger">Inactive</span>
        {{ end }}
    </td>
    <td>{{ if .Make.UpdatedBy }}{{ .Make.UpdatedBy }}{{ else }}-{{ end }}</td>
    <td>{{ if .Make.UpdatedAt }}{{ in_timezone .Make.UpdatedAt .Timezone }}{{ else }}-{{ end }}</td>
    <td>
        <div class="buttons are-small">
            <button class="button is-link is-light" hx-get="/vehicle-makes/{{ .Make.ID }}/edit" hx-target="body" hx-push-url="true">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </button>
            <button class="button is-danger is-light" hx-get="/vehicle-makes/{{ .Make.ID }}/delete" hx-target="#modal-container">
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </div>
    </td>
</tr>
{{ end }}
