{{ define "content" }}
<div class="columns is-centered">
    <div class="column is-half">
        <div class="box">
            <h1 class="title mb-5">{{ .title }}</h1>
            <form hx-post="{{ .action }}" hx-target="body" hx-push-url="true">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Make Name" value="{{ if .make }}{{ .make.Name }}{{ end }}" required autofocus>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="status" {{ if or (not .make) .make.Status }}checked{{ end }}>
                            Active
                        </label>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-link">Save</button>
                    </div>
                    <div class="control">
                        <button type="button" class="button is-link is-light" hx-get="/vehicle-makes" hx-target="body" hx-push-url="true">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}
