{{ define "content" }}
<div class="level">
    <div class="level-left">
        <h1 class="title">Vehicle Makes</h1>
    </div>
    <div class="level-right">
        <div class="field has-addons mr-3">
            <div class="control">
                <span class="button is-static">Rows</span>
            </div>
            <div class="control">
                <div class="select">
                    <select name="pageSize" 
                            hx-get="/vehicle-makes" 
                            hx-include="[name='tz']"
                            hx-target="body" 
                            hx-push-url="true">
                        {{ $currentSize := .pageSize }}
                        {{ range .pageSizeOptions }}
                            <option value="{{ . }}" {{ if eq . $currentSize }}selected{{ end }}>{{ . }}</option>
                        {{ end }}
                    </select>
                </div>
            </div>
        </div>
        <div class="field has-addons mr-3">
            <div class="control">
                <span class="button is-static">Timezone</span>
            </div>
            <div class="control">
                <div class="select">
                    <select name="tz" 
                            hx-get="/vehicle-makes" 
                            hx-include="[name='pageSize']"
                            hx-target="body" 
                            hx-push-url="true"
                            id="tz-select">
                        {{ $currentTz := .timezone }}
                        {{ range .timezones }}
                            <option value="{{ . }}" {{ if eq . $currentTz }}selected{{ end }}>{{ . }}</option>
                        {{ end }}
                    </select>
                </div>
            </div>
        </div>
        <a href="/vehicle-makes/new" class="button is-primary">Add New Make</a>
    </div>
</div>

<script>
    // If no timezone is in the URL, try to detect and redirect
    const urlParams = new URLSearchParams(window.location.search);
    if (!urlParams.has('tz')) {
        const browserTz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        const select = document.getElementById('tz-select');
        // Check if the detected timezone is in our list
        let found = false;
        for (let i = 0; i < select.options.length; i++) {
            if (select.options[i].value === browserTz) {
                found = true;
                break;
            }
        }
        
        if (found) {
            window.location.search = `?tz=${browserTz}`;
        }
    }
</script>

<div class="box">
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Updated By</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ $tz := .timezone }}
            {{ range .makes }}
                {{ template "vehicle_makes/table_row.html" (dict "Make" . "Timezone" $tz) }}
            {{ end }}
        </tbody>
    </table>

    <!-- Pagination -->
    {{ if gt .totalPages 1 }}
    <nav class="pagination is-centered mt-4" role="navigation" aria-label="pagination">
        {{ if gt .currentPage 1 }}
        <a class="pagination-previous" 
           hx-get="/vehicle-makes?page={{ sub .currentPage 1 }}&tz={{ .timezone }}&pageSize={{ .pageSize }}" 
           hx-target="body" 
           hx-push-url="true">Previous</a>
        {{ else }}
        <a class="pagination-previous" disabled>Previous</a>
        {{ end }}
        
        {{ if lt .currentPage .totalPages }}
        <a class="pagination-next" 
           hx-get="/vehicle-makes?page={{ add .currentPage 1 }}&tz={{ .timezone }}&pageSize={{ .pageSize }}" 
           hx-target="body" 
           hx-push-url="true">Next page</a>
        {{ else }}
        <a class="pagination-next" disabled>Next page</a>
        {{ end }}
        
        <ul class="pagination-list">
            {{ $current := .currentPage }}
            {{ $total := .totalPages }}
            {{ $tz := .timezone }}
            {{ $size := .pageSize }}
            
            {{ range $p := (seq 1 .totalPages) }}
            <li>
                <a class="pagination-link {{ if eq $p $current }}is-current{{ end }}" 
                   hx-get="/vehicle-makes?page={{ $p }}&tz={{ $tz }}&pageSize={{ $size }}" 
                   hx-target="body" 
                   hx-push-url="true"
                   aria-label="Goto page {{ $p }}">{{ $p }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <div class="has-text-centered is-size-7 has-text-grey mt-2">
        Showing page {{ .currentPage }} of {{ .totalPages }} (Total: {{ .total }} items, {{ .pageSize }} rows per page)
    </div>
    {{ end }}
</div>
{{ end }}
